.wrapper
  
  .chat-side
    .side-header
      .side-header__name
        = current_user.name
        %a
          = link_to new_group_path do
            = fa_icon 'pencil-square-o', class: 'icon'
        %a
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'
          %p.side-header__box__user-name
          
        
    .groups
      .group
        %p.group__name
          グループ名
          %p.group__latest-message
            新着メッセージ
      .group
        %p.group__name
          グループ名
          %p.group__latest-message
            新着メッセージ

  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group
          samama
        %ul.main-header__left-box__member-list
          Member:
          %li.main-header__left-box__member-list__member
            tetete
      %a
        .main-header__edit-btn
          EDIT
        

    .messages
      .message
        .message__upper-info
          %p.message__upper-info__taker
            kazuya
          %p.message__upper-info__date
            2020年1/24
        %p.message__text
          muzukasii
    .form
      %form#new_message.new_message
        .input-box
          %input#message_content.input-box__text{placeholder: "type a message", name: "message[content]", type: "text"}
          %label.input-box__image
            %i.fa.fa-image
        %input.submit-btn{type: "submit", name: "commit", value: "Send"}
      





   


